@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Nunito|Arimo|Roboto:300,400,700');

/* Global styles */

html *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
}

/*
 *{
    outline: solid red 1px;
 }*/

.uppercase {
    text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.bg{
    position: absolute;
    /* background: url("https://source.unsplash.com/FvJuUaXWGiQ") no-repeat center center; */
    /* background: url("https://source.unsplash.com/kcJsQ3PJrYU") no-repeat center center; */
    /* background: url("https://source.unsplash.com/7FOSJVtUtac") no-repeat center center; */
    background: url("https://source.unsplash.com/FZqISnUVsL0") no-repeat center center;
    /* background: url("../assets/IMG_0565.jpg") no-repeat center center; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.container{
    min-width: 100%;
}

ul a{
    font-family: 'Nunito', sans-serif;
}

.footer-title{
    padding: 0.5em;
    margin-bottom: 0.7em;
}

#banner{  
    padding-top: 25vh;
    margin-top: -64px;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh; 
    background-color: rgb(2, 0, 28, 0.78);
}

.banner-text{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    margin: 0 5px;
    padding-bottom: 0.7em;
    transform: skew(-2.5deg) translateY(-0.2em);
    /* transform: skew(-2.5deg) translateY(-10px); */
    transition: all 2s;
    opacity: 1;
}

/* .banner-text.animate{
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    padding-bottom: 0.7em;
    transform: skew(-2.5deg);
    /* opacity: 0; 
} */


#banner h4, #banner h5{
    font-family: 'Roboto';
    font-weight: 300;
}

#vision, #mission{
    padding: 40px 10%;
    height: 350px;
    display: none;
}

.animate{
    opacity: 0;
    transform: skew(-2.5deg) translateY(0em);
}

#vision-title, #mission-title{
    padding: 1.1em 10%;
}

 #about-us-wrapper{
    padding: 0px 20%;
 }

 .sections{
    padding: 2em 0;
 }

.section-title{
    text-transform: uppercase;
    margin: 1.2em 0;
}

 #about-us img, #events-img{  
    display: block; 
    width: auto;
    height: auto;
    min-height: 300px;
    max-width: 100%; 
 }

 #about-us-text{
    font-size: 1.2rem;
    /* text-align: justify; */
 }

#partner{
    min-height: 300px;
    background-color: rgba(28, 26, 56, 0.9);
}

#partner a{
    margin-top: 40px;
}

 #video-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
 }

 #events{
    margin: -20px 0;
    min-height: 450px;
    background: linear-gradient(145deg,rgb(222, 220, 228),rgb(28, 26, 56) 100%); 
 }

 .events-img{
    position: relative;
    background: url("../assets/IMG_0477.JPG") no-repeat center center;
    /* background: url("../assets/IMG_0611.jpg") no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: -20px 0;
    width: 100%;
    height: 450px;
    min-height: 450px;
    z-index: 2;
}

.parallax-container {
    height: 250px;
}

.calendar-row{
    padding: 0 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.calendar-img{
    padding: 5% 0;
}

#blog-wrapper{
    padding: 20px 10%;
}

.blog-item *{
    padding: 10px;
}

.blog-content{
    padding: 10px 5%;
}

#blog-button{
    text-decoration: none;
    margin: 1em;
}
.page-footer{
    margin-top: -20px;
}
.social-links{
    margin: 0.5em;
}

.footer-links li{
    padding: 0.2em 0;
}

/* work on media queries later */

@media (min-width: 992px) {
    nav, .banner-text{
        padding-right: 20%;
     }

     .banner-text{
        text-align: right;
     }

     #about-us-wrapper{
        padding: 0px 10%;
     }
}