@import url('https://fonts.googleapis.com/css?family=Nunito:400|Arimo');

/* Global styles */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100vw;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: black;
    background-color: rgb(1,25,81);
}

/* *{
    outline: 1px solid red;
} */

.container{
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    height: 100%;
}

#header{    
    position: fixed;    
    width: 100%;
    display: flex;
    flex-direction: row;    
    top: 0;
    left: 0;
    z-index: 10;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    line-height: 75px;   
}

#nav-bar{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    min-width: 100%;
}

.section:nth-child(odd){
    background-color: #fff;
}

#banner{
    position: relative;
    background: url(bg-2.jpg) no-repeat center center;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    height: 80%;
}

#vision{
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

#calendar{
    position: relative;
    padding: 20px 0;
    text-align: center; 
    color: white;
}

#blog{
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    text-align: center;
}

.nav-link {
    text-align: center;
    text-decoration: none;
    color: rgb(1,25,81);
}

.btn {
    padding: 10px;
    min-width: 200px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background: gray;
    cursor: pointer;
    color: white;
    
}

.flex {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
}

.uppercase {
    text-transform: uppercase;
}

.huge{
    font-size: 70px;
}

.big{
    font-size: 36px;
}

/* Local styles */

.logo{
    width: ;
    margin-left: 20%;
}


.nav-link{
    text-decoration: none;
    line-height: 50px;
    flex-grow: 1.5;
}

.welcome-text{
    position: relative;
    top: 200px;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 800px;
    font-family: 'Arimo', sans-serif;
    
    /*rgb(13, 30, 63);
    border: 16px solid rgb(208, 84, 75);
    background: -webkit-linear-gradient(rgb(0, 153, 255), white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

p.welcome-text{
    position: relative;
    top: 200px;
    left: auto;
    width: 800px;
    font-family: 'Nunito', sans-serif;
}

.sub-heading{    
    width: 100%;
    position: relative;
    margin-top: 0;
    font-size: 150%;
    line-height: 75px;
    text-transform: uppercase;
    justify-content: space-around;
    /* background-color: whitesmoke; */
    }

h3.sub-heading{
    text-transform: capitalize;
}

.text{
    font-size: 1.1rem;
}

.box{
    background-color:rgb(138,150,198, 0.5);
    width: 300px;
    height: 200px;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    /* background-color: #000; */
}




/* work on media queries later */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }  

    #header{
        justify-content: space-around;
    }
    #nav-bar {
        width: 40%;
        min-width: 600px;
        font-weight: 400;
        justify-content: space-between;
        flex-direction: row;
        margin: auto; 
        margin-right: 20%;
        padding-left: 10px;
    }

    .wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 0\0px;
        justify-content: center;
        /* padding-left: 300px; */
        /* background-color: #000; */
    }

    .box{
        background-color:rgb(138,150,198, 0.5);
        width: 500px;
        min-width: 300px;
        height: 200px;
        margin: 50px;
        border: none;
    }
}

@media (min-width: 1200px) {

    .container {
        width: 1170px;
    }

  
}
